@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 
[data-theme='light'] .dark-logo {
  display: none;
}

[data-theme='dark'] .light-logo {
  display: none;
} */


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.navigation-wrapper {
  position: relative;
}

.dots {
  padding: 10px 0;
}

.dot {
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}


.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #ccc;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

.product.shadow-sm.rounded tr:first-child {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.product.shadow-sm.rounded tr:first-child th {
  background-color: white;
  color: #ffa646;
}

.ant-table-wrapper.product.shadow-sm.rounded {
  background-color: white;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-table-wrapper {
  border-radius: 20px;
  overflow: hidden;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-pagination .ant-pagination-item-active a {
  color: #ffa646;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-pagination .ant-pagination-item-active a:hover {
  color: black;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-pagination .ant-pagination-item-active {
  border-color: #ffa646;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-pagination .ant-pagination-item-active:hover {
  border-color: black;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ffa646;
  border-color: #ffa646;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-checkbox-checked .ant-checkbox-inner:hover {
  background-color: #ffa646;
  border-color: #ffa646;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  background-color: #ffa646;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-checkbox-indeterminate .ant-checkbox-inner:after {
  background-color: #ffa646;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
:where(.css-dev-only-do-not-override-1hpnbz2).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  border-color: #ffa646;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}